doctype html
html
  head
    meta(charset="UTF-8")
    title Reset Password
    style.
      body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
      }

      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #ffffff;
        border: 1px solid #e0e0e0;
      }

      h1 {
        color: #333333;
        margin-top: 0;
        text-align: center;
      }

      p {
        margin-top: 0;
        margin-bottom: 20px;
      }
  body
    .container
      h1 Reset Password
      p Dear User,
      p We received a request to reset your password. To proceed, please use the following token:
      p
        strong #{token}
      p If you didn't request a password reset, you can safely ignore this email.
      p If you have any questions, feel free to contact our support team.
      p Thank you!
      p
        | Best regards,
        br
        | System of Santri
        br
        | Pondok Programmer
